{% extends 'base.html.twig' %}

{% block title %}Counter Component !{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container" id="app">
    <div class="row">
        <div class="col-md-12">
            <counter v-bind:add-num="2"></counter>
        </div>
    </div>
</div>

{% endblock %}
