{% extends 'base.html.twig' %}

{% block title %}Starbase apps !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/js/counter.css') }}">
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/noteMaster.css?lbisphpreq=1">
    <link rel="stylesheet" href="{{ asset('build/css/starbase.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/starbase.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container mt-3" id="app">

</div>

{% endblock %}
